.footer__column-link {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    display: flex;
    opacity: 1.0;
  }
  
  .footer__column-link:hover {
    opacity: 0.5;
    }
  
  .footer__column-link:visited {
    color: white;
    text-decoration: none;
    }