.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 154px;
  height: 31px;
  z-index: 1;
  display: flex;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  display: flex;
  margin: 0;
  margin: auto;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  display: block;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link_style:visited {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  flex-flow: column wrap;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__paragraph:first-of-type, .two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding-top: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 3;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  z-index: 3;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 2;
  width: 775px;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:visited {
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}

.section-title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
}

.table_theme_dark {
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  top: 0;
  right: -124px;
  z-index: 1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  z-index: 1;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  z-index: 2;
  display: flex;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-top: auto;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: flex;
}

.footer__column-link:visited {
  color: white;
  text-decoration: none;
  }

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self: center;
}