@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 154px;
  height: 31px;
  z-index: 1;
  display: flex;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  display: flex;
  margin: 0;
  margin: auto;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  display: block;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1.0;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link_style:visited {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  flex-flow: column wrap;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__paragraph:first-of-type, .two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  padding-top: 100px;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 920px;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 100px;
}

.cards__item {
  margin-top: 60px;
  width: 240px;
}

.cards__item:nth-of-type(2), .cards__item:nth-of-type(5) {
  padding: 0 100px;
}

.cards__item:last-of-type {
  align-self: center;
}

.cards__image {
 width: 160px;
 height: 160px;
 margin: 0 40px;
 border-radius: 50%;
}

.cards__title {
 line-height: 1.15;
 font-size: 24px;
 font-weight: bold;
 margin: 0;
 margin-top: 43px;
 text-align: center;
 }

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 16px;
  text-align: center;
}

.video {
  margin-bottom: -60px;
}

.video__iframes {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  padding-top: 50px;
}

.video__iframe {
  border: none;
}

.video__iframe:first-of-type {
  padding-right: 20px;
}

.oakley {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

.two-columns_oakley {
  padding-top: 160px;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  z-index: 3;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 70px;
  z-index: 2;
  width: 775px;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 44%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  opacity: 1.0;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__link:visited {
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.digits {
  padding-top: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 3;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.khan {
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 105px;
  margin-top: 100px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  overflow: visible;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
  margin-bottom: -212px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  opacity: 1.0;
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.khan__buy-link:visited {
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}

.section-title_theme_dark {
  color: white;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0;
}

.table_theme_dark {
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  top: 0;
  right: -124px;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.resources {
  margin: 0;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 80px 0 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
  opacity: 1.0;
}

.resources__logo:hover {
  opacity: 0.5;
}


.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  z-index: 1;
  display: flex;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0 40px;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  z-index: 2;
  display: flex;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-top: auto;
  margin-bottom: 18px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  display: flex;
  opacity: 1.0;
}

.footer__column-link:hover {
  opacity: 0.5;
  }

.footer__column-link:visited {
  color: white;
  text-decoration: none;
  }

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self: center;
}